/AgeableData.class
/CreatureEquipment.class
/CreeperData.class
/DonkeyData.class
/EndermanData.class
/HorseData.class
/HuskData.class
/LivingEntityData.class
/MagmaCubeData.class
/MuleData.class
/OcelotData.class
/PigData.class
/PigZombieData.class
/SheepData.class
/SkeletonData.class
/SkeletonHorseData.class
/SlimeData.class
/VillagerData.class
/WolfData.class
/ZombieData.class
/ZombieHorseData.class
/ZombieVillagerData.class
