/Agent.class
/AnySubject.class
/BlockTarget.class
/BlocksTarget.class
/CreatureGroupSubject.class
/CreatureSubject.class
/EnvironmentAgent.class
/ExplosionAgent.class
/GroupSubject.class
/LivingSubject.class
/MaterialGroupAgent.class
/PlayerSubject.class
/ProjectileAgent.class
/Subject$HashCode.class
/Subject$ItemCategory.class
/Subject.class
/Target.class
/ToolAgent.class
/VehicleTarget.class
