/ContainerData.class
/CreatureData.class
/Data.class
/EffectData.class
/ItemData$ItemMetaType.class
/ItemData.class
/NoteData.class
/RangeData.class
/RangeableData.class
/RecordData.class
/SimpleData.class
/SpawnerData.class
/VehicleData$VehicleState.class
/VehicleData.class
