/Adjacent.class
/Comparative.class
/ConfigOnly.class
/DoubleRange.class
/Flag$FlagState.class
/Flag.class
/IntRange.class
/Range.class
/ShortRange.class
/SoundEffect.class
/Time.class
/ToolDamage.class
/Weather$1.class
/Weather.class
/Flag$1.class
/Flag$2.class
/Flag$3.class
