/Adjacent.class
/AttackRangeCheck.class
/BiomeCheck.class
/BlockFaceCheck.class
/ChanceCheck.class
/Cooldown.class
/CooldownCheck.class
/DistanceCheck.class
/HeightCheck.class
/HeroesCondition$Type.class
/HeroesCondition.class
/LightlevelCheck.class
/LoreNameCheck.class
/McmmoCondition$Type.class
/McmmoCondition.class
/MobSpawnerCheck.class
/PermissionCheck.class
/PlayerCooldown.class
/PlayerSneakCheck.class
/SpawnedCheck.class
/TimeCheck.class
/ToolCheck.class
/WeatherCheck.class
/WorldCheck.class
